@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
  }
  
  * {
    @apply border-dark-700;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
