@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans antialiased;
  }
  
  * {
    @apply border-dark-700;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-dark-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-dark-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-dark-600;
}
